.footer {
  padding: 2rem 0;
  background: #171717;
  /* border: 1px solid red; */
}

.footerContainer {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  /* border: 1px solid cyan; */
}

.footerLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 33%;
  /* border: 1px solid lime; */
}

.footerContent {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33%;
}

.footerIcons {
  display: flex;
  justify-content: center;
  /* border: 1px solid lime; */
  margin-bottom: 0.5rem;
}

.footerCredits {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerIcons a {
  margin-right: 1rem;
  /* border: 1px solid orange; */
}

.footerIcons a:last-child {
  margin-right: 0;
}

.footerText {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.footerCreditsText {
  text-align: right;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.footerTextSmall {
  font-size: 0.9rem;
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1180px) {
  .footerContainer {
    padding: 0 3rem;
  }
}

@media (max-width: 650px) {
  .footerLogo, .footerIcons, .footerCredits {
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
  }

  .footerLogo {
    margin-bottom: 2.5rem;
  }

  .footerContent {
    margin-bottom: 2.0rem;
  }

  .footerIcons {
    justify-content: center;
  }

  .footerContainer {
    flex-direction: column;
    padding: 0 1rem;
  }

  .footerCreditsText {
    text-align: center;
  }
}