.galleryModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryModalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.8rem 1.6rem;
  background: red;
}

.galleryButton {
  position: absolute;
  top: 50vh;
  padding: 0.8rem 1.6rem;
}

.galleryButton.next {
  border: 1px solid yellow;
  right: 20px;
}
.galleryButton.prev {
  border: 1px solid orangered;
  left: 20px;
}

.modalImageContainer {
  border: 1px solid lightgreen;
  height: 80%;
  width: 80%;
}

.modalImage {
  position: relative;
}

.modalImage-enter {
  opacity: 0;
}

.modalImage-enter.modalImage-enter-active {
opacity: 1;
transition: opacity 1000ms linear;
}

.modalImage-exit {
  opacity: 1;
  transform: translateY(-100%);
}

.modalImage-exit.modalImage-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}
/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1080px) {
  
}

@media (max-width: 650px) {
  .modalImageContainer {
    height: 40%;
  }

  .galleryButton {
    top: 80vh;
  }
}