.gallery {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryImages {
  border: 1px solid cyan;
  display: flex;
  flex-wrap: wrap;
}

.modalFade-enter {
  opacity: 0;
}

.modalFade-enter.modalFade-enter-active {
opacity: 1;
transition: opacity 1000ms linear;
}

.modalFade-exit {
  opacity: 1;
}

.modalFade-exit.modalFade-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}