.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryImages {
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryHeader {
  background: url('../../images/galleryheaderbwblur.jpg');
}

.modalFade-enter {
  opacity: 0;
}

.modalFade-enter.modalFade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.modalFade-exit {
  opacity: 1;
}

.modalFade-exit.modalFade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1080px) {
  
}

@media (max-width: 650px) {
  .galleryHeader {
    padding: 0;
    height: 200px;
  }
}