.galleryModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.galleryModalClose {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 15px;
  right: 15px;
  background:  rgba(255,255,255,0.2);
  border-radius: 100%;
  cursor: pointer;
  transition: transform 250ms linear;
  z-index: 21;
  transform: scale(0.8);
  opacity: 0.7;
}
.galleryModalClose:hover {
  opacity: 0.9;
}

.galleryButton {
  cursor: pointer;
  position: absolute;
  top: 50vh;
  border-radius: 100%;
  background: rgba(255,255,255,0.2);
  opacity: 0.7;
}

.galleryButton:hover {
  opacity: 0.9;
}

.galleryButton.next {
  right: 20px;
}
.galleryButton.prev {
  left: 20px;
}

.modalImageContainer {
  height: 80%;
  width: 80%;
}

.modalImage {
  position: relative;
}

.modalImage-enter {
  opacity: 0;
}

.modalImage-enter.modalImage-enter-active {
opacity: 1;
transition: opacity 300ms linear;
}

.modalImage-exit {
  opacity: 1;
  transform: translateY(-100%);
}

.modalImage-exit.modalImage-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1080px) {
  
}

@media (max-width: 650px) {
  .modalImageContainer {
    height: 40%;
  }

  .galleryButton {
    top: 80vh;
  }
}