@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --dark0: #1c1f23;
  --dark1: #282524;
  --dark2: #35373c;
  --light1: #f2f2f2;
  --gold: #d3ad45;
  --green: #296d29;
  --greenLight: #b8f5b8;
  --red: #883535;
  --redLight: #f5b8b8;
  
  --max-width: 1080px;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--dark1);
  color: var(--light1);
}

a {
  color: var(--gold);
  text-decoration: none;
  background-color: transparent;
  opacity: 1;
}

a:hover {
  color: var(--gold);
  text-decoration: none;
  opacity: 1;
}


hr {
  border: 0;
  height: 2px;
  background: var(--gold);
}

h1 {
  font-size: 48px;
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1080px) {
 
}

@media (max-width: 650px) {
  h1 {
    font-size: 36px;
  }
}