:root {
  --dark0: #1c1f23;
  --dark1: #282524;
  --dark2: #35373c;
  --light1: #f2f2f2;
  --gold: #d3ad45;
}

body {
  background: var(--dark1);
  color: var(--light1);
}

a {
  color: var(--gold);
  text-decoration: none;
  background-color: transparent;
  opacity: 0.8;
  transition: all 200ms linear;
}

a:hover {
  color: var(--gold);
  text-decoration: none;
  text-shadow: 0px 0px 4px var(--gold);
  opacity: 1;
}

hr {
  border: 0;
  height: 2px;
  background: var(--gold);
}